/* General properties */

body {
  background: black;
  color: white;
  height:100%;
  margin: 0px;
  font-family: "Segoe UI", "Lucida Grande", Tahoma, Verdana, Arial;
}


/* Menu display */

#menu
{
    text-align: center;
    height: 50px;
    background: #333;
}

#menu ul.menu li {
  display: inline;
}

#menu ul li a, #menu ul li a#visited {
  border-bottom-left-radius: 10px 10px;
  border-bottom-right-radius: 10px 10px;
  margin: 0px 0px;
  padding: 20px 20px;
  color: white;
  text-decoration: none;
  font-weight: bold;
}

#menu ul li a:hover {
  background: red;
}
 
#menu ul li#current_page a {
  background: red;
}


/* Container */

#container
{
    width: 600px;
    margin: 0px auto;
}

/*
#container h1 {
  color: red;
}
*/

#container a {
    color: orange;
    text-decoration: none;
}

#container a:hover {
    font-style: italic;
}

/* News page */

.newsitem {
    background: #222;
    margin-bottom: 1em;
    margin-top: 1em;
    padding: 1em;
}

.newsitem:after {
    clear: both;
    content: '.';
    display: block;
    height: 0px;
    visibility: hidden;
}

.newsitem .date {
    float:right;
    margin: 0;
}

.newsitem .back_top {
    float: left;
}

/* Download page */

#dl_list {
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
}

#dl_list td {
    padding: 1em;
}

#dl_list tr:hover {
    background-color: #222;
}


/* FAQ-specific style */

/* Table of content */
ul.toc {
    background: #222;
    padding: 30px;
}

ul.toc li a, ul.toc li a#visited, ul.toc li a#hover{
  color: green;
  font-weight: bold;
}

/* Question/Answer */
.faqitem {
    margin-top: 50px;
    border-bottom: 1px solid #333;
    padding-bottom: 25px;
}

.faqitem .question {
  
}

.faqitem .answer {
   
}
