/* General properties */

body {
  background: black;
  color: white;
}

h1 {
  color: red;
}


/* Menu display */

ul.menu {
  background: black;
  
  text-align: center;
  height: 50px;
}

ul.menu li {
  display: inline;
  /*height: 30px;*/
}

ul.menu li a, ul.menu li a#visited {
  margin: 0px 0px;
  padding: 20px 30px;
  color: white;
  text-decoration: none;
  font-weight: bold;
}

ul.menu li a:hover {
  background: orange;
}
 
ul.menu li#current_page a {
  background: red;
}


/* FAQ-specific style */

/* Table of content */
ul.toc {
  
}

ul.toc li a, ul.toc li a#visited, ul.toc li a#hover{
  color: green;
  font-weight: bold;
}

/* Question/Answer */
.faqitem .question {
  
}

.faqitem .answer {
   
}
